In [2]:
import pandas as pd

from utils import read_data_for_grader

In [20]:
data = read_data_for_grader(12, "famous", 42, 3)

In [21]:
len(data["train"])

358

In [14]:
len(data["test"])

40

In [17]:
data["val"]

       type  ... human_rate
227  famous  ...       0.00
210  famous  ...       0.50
376  famous  ...       1.00
158  famous  ...       0.00
266  famous  ...       0.67
31   famous  ...       0.67
329  famous  ...       1.00
113  famous  ...       0.33
5    famous  ...       0.00
30   famous  ...       0.00
148  famous  ...       0.67
176  famous  ...       0.25
42   famous  ...       1.00
225  famous  ...       0.67
55   famous  ...       0.33
114  famous  ...       0.00
22   famous  ...       0.00
0    famous  ...       0.00
25   famous  ...       0.33
369  famous  ...       0.00
172  famous  ...       0.50
361  famous  ...       0.00
261  famous  ...       1.00
246  famous  ...       1.00
152  famous  ...       0.50
78   famous  ...       0.25
73   famous  ...       1.00
342  famous  ...       1.00
104  famous  ...       1.00
280  famous  ...       0.00
338  famous  ...       0.00
15   famous  ...       0.50
33   famous  ...       0.33
271  famous  ...       1.00
388  famous  ...       0.00
77   famous  ...       0.00
124  famous  ...       0.50
140  famous  ...       0.25
132  famous  ...       0.00
321  famous  ...       0.40

[40 rows x 5 columns]

In [40]:
results = {
    model_name: compute_metrics(
        (list(df[model_name]), list(df["human_rate"])),
        only_mse=True,
    )
    for model_name in df.columns[5:]   
}

In [41]:
results

{'model_study_1_famous_classifier': {'rmse': 0.37,
  'avg_pred': 0.41,
  'spearman': 0.5},
 'model_study_1_famous_and_semi_class_epochs_20': {'rmse': 0.37,
  'avg_pred': 0.28,
  'spearman': 0.46},
 'model_study_1_famous_and_semi_classifier': {'rmse': 0.39,
  'avg_pred': 0.27,
  'spearman': 0.25},
 'model_study_1_famous_and_semi_class_and_11_epochs_20': {'rmse': 0.29,
  'avg_pred': 0.26,
  'spearman': 0.71},
 'model_study_1_all_classifier_epochs_5': {'rmse': 0.39,
  'avg_pred': 0.28,
  'spearman': 0.25},
 'model_study_1_famous_and_semi_class_epochs_1': {'rmse': 0.41,
  'avg_pred': 0.23,
  'spearman': 0.19},
 'model_study_1_famous_and_semi_class_epochs_5': {'rmse': 0.39,
  'avg_pred': 0.27,
  'spearman': 0.25},
 'model_study_1_famous_and_semi_class_and_11_epochs_5': {'rmse': 0.33,
  'avg_pred': 0.24,
  'spearman': 0.68}}